<section class="hero-section">
    <video #bgVideo autoplay [muted]="true" playsinline preload="auto" class="video-bg">
        <source src="video/logo-animado.webm" type="video/webm">
    </video>
  
    <div class="overlay"></div>
  
    <div class="content">
        <div class="logo-container">
            <img src="logo_header.png" alt="">
        </div>
      <h1 class="display-1 fw-bold text-uppercase">
        Forjando <span class="text-primary">Campeões</span>
      </h1>
      <h3 class="mb-4">
        Conheça a equipe que mais cresce e gera campeões no Vale do Paraíba.
      </h3>
      <p class="lead mb-5">Tradição, disciplina e a verdadeira essência do Muay Thai.</p>
      
      <div class="d-flex flex-column flex-md-row gap-3 justify-content-center">
        <a href="#equipe" class="btn btn-muaythai btn-lg">NOSSA EQUIPE</a>
        <a href="#local" class="btn btn-outline-warning btn-lg">LOCAIS DE TREINOS</a>
      </div>
    </div>
</section>