<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: var(--cor-primaria)">CALENDÁRIO DE ATIVIDADES</h2>
  
    <div *ngFor="let evento of eventosFuturos" class="card-evento mb-3">
      <div class="row g-0 align-items-center">
        <div class="col-md-2 date-box text-center">
          <span class="day">{{ evento.data | date:'dd' }}</span>
          <span class="month">{{ evento.data | date:'MMM' | uppercase }}</span>
        </div>
        
        <div class="col-md-7 p-3">
          <div class="d-flex align-items-center mb-2">
            <span [class]="'badge me-2 badge-' + evento.tipo.toLowerCase()">{{ evento.tipo }}</span>
            <small class="text-warning"><i class="bi bi-clock"></i> {{ evento.hora }}</small>
          </div>
          <h4 class="titulo">{{ evento.titulo }}</h4>
          
          <p class="descricao mb-1" style="white-space: pre-wrap;">{{ evento.descricao }}</p>
          
          <small class="local"><i class="bi bi-geo-alt-fill"></i> {{ evento.local }}</small>
        </div>
  
        <div class="col-md-3 d-none d-md-block p-2" *ngIf="evento.imageUrl && evento.imageUrl.trim() !== ''">
          <img [src]="evento.imageUrl" class="img-fluid rounded shadow-sm" alt="Evento">
        </div>
      </div>
    </div>
  
    <div class="text-center mt-5 mb-5">
      <button class="btn btn-outline-warning" (click)="mostrarPassados = !mostrarPassados">
        {{ mostrarPassados ? 'Ocultar' : 'Exibir' }} Eventos Passados
      </button>
    </div>
  
    <div *ngIf="mostrarPassados" class="opacity-75">
      <div *ngFor="let evento of eventosPassados" class="card-evento passado mb-3">
         </div>
    </div>
  </div>